.App {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  max-width: 600px;
  background: var(--background);
  color: var(--font-color);
  box-shadow: 4px 4px 10px rgba(55, 55, 55, 5);
  border-radius: 10px;
  background-color: rgb(112, 255, 236);
}
/* Other */
Button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: pink;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
    
Button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .NavLink {
  padding: 0.25em 0.75em;
  }
}

Nav {
    text-align: center;
}
